[submodule "Vuln-back(main)/database"]
	path = Vuln-back(main)/database
	url = https://github.com/KikeVR1996/database.git
[submodule "Vuln-back(main)/database-test"]
	path = Vuln-back(main)/database-test
	url = https://github.com/KikeVR1996/database-test.git
[submodule "Vuln-back(Public)/Common"]
	path = Vuln-back(Public)/Common
	url = https://github.com/KikeVR1996/Common.git
[submodule "Vuln-back(Public)/Identity-manager"]
	path = Vuln-back(Public)/Identity-manager
	url = https://github.com/KikeVR1996/Identity-manager.git
